
@import url('https://fonts.googleapis.com/css?family=Patua+One|Cantarell|Yesteryear');


nav{	
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:50px;
	color:#000	;
	z-index:999;
	transition:0.2s;
}

body{
	background-color: #acdeaa;
}

.logo{
	font-family: 'Yesteryear',cursive;
	font-size:2.2em;
	position: absolute;
	left:40px;
	top:0px;
}

.login_box{
	text-align:center;
	position: absolute;
	padding:50px;
	padding-bottom:100px;
	top:20%;
	left:33%;
	width:28%;
	min-width: 380px;
	border-radius:10px;
	background-color:rgba(255,255,255,0.7);

}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ,color 5000s;
}


input[type=text],input[type=password]{
	background-color:rgba(255,255,255,0.5);
	border:2px solid #738598;
}

input{
	width:100%;
	height:45px;
}

form *{
	font-family: 'Cantarell', sans-serif;
	font-size:1.05em;
}

.login_txt{
	font-family: 'Patua One', cursive;
	font-size:2.5em;
}

.create_txt{
	font-family: 'Cantarell', sans-serif;
	font-size:1.2em;
}

.create_txt a{
	color:rgba(0,0,0,0.7);
}

.login_btn{
	width:101%;
	height:55px;
	background-color: transparent;
	border:0px solid #000;
	background-color: rgb(52, 105, 154);
	color:#fff;
}

.login_btn:hover{
	opacity:0.8;
	cursor:pointer;
}

a{
	color:#000;
	text-decoration: none;
}