@import url('https://fonts.googleapis.com/css?family=Asap:700|Comfortaa:300|Catamaran:100');


*{
	font-family: 'Catamaran',sans-serif;
}


body{

	background: linear-gradient(#00a8b5 40%, #74dac6) no-repeat fixed;
}

nav{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:50px;
	color:#fff;
	z-index:999;
	transition:0.2s;
/*	background-color: rgba(0,0,0,1);*/


}

.logo{
	font-family: 'Yesteryear',cursive;
	font-size:2.2em;
	position: absolute;
	left:0px;
	top:0px;
	color:#fff;
/*	background-color:rgba(0,0,0,0.8);
*/	padding-left:30px;
	padding-right: 40px;
	padding-top:8px;
	border-bottom-right-radius:90px; 
}


.list{
	float: right;
	margin-right:0px;
	margin-top:0px;
	padding-left:50px;
	padding-right:20px;
	padding-top:10px;
	padding-bottom: 10px;
/*	background-color:rgba(0,0,0,0.8);
*/	border-bottom-left-radius:120px; 
}
.list div{
	display: inline;
	margin-right:30px;
	font-size: 1.4em;
}

.list div:hover{
	cursor:pointer;

}


.pnr_status_box{
	background-color: rgba(255,255,255,0.6);
	margin-top:170px;
}

.pnr_cont{
	padding:60px;
}


.st_names{
	margin-top:80px;
	margin-left:25%;
	font-size:1.2em;
}

.st_2{
	margin-top:-86px;
	margin-left:45%;
}

.st_c{
	font-size:2em;
	font-weight:bold;
}



