<!DOCTYPE html>
<html>
<head>
		<title>Hodophile| Cheapest  Train Tickets , Flights , Hotels  </title>
	<meta name="description" content="Cheapest Train Tickets , Flights , Hotels ,Buses , recharge, Amazing Offers , Discount">
	<link href="https://fonts.googleapis.com/css?family=Yesteryear|PT+Sans+Narrow" rel="stylesheet">
	<meta name="og:title" property="og:title" content="Amazing Offers on Train Tickets , Flights, Buses , Hotels ">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">

	
	<link rel="stylesheet" href="../static/css/simple-grid.css">
	<link rel="stylesheet" href="../static/css/booking.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>

<nav>

<div class="logo">Hodophile</div>
	<div class="list">
		<div>Trains</div>
		<div>Flights</div>
		<div>Bus</div>
		<div>Recharge</div>
		<div>Login</div>
	</div>
</nav>

<div class="train_selected_display">
	<div class="">

	</div>
</div>


<!--  <div class="pax_box">

	<div class="pax_input">
		<input type="text" placeholder="Full Name">
		<input type="text" placeholder="Age">
		<select>
			<option selected disabled>Gender</option>
			<option>Male</option>
			<option>Female</option>
		</select>

	</div>
	
</div>  -->


<div class="container">
	<div class="row">
		<div class="col-12"></div>
	</div>
</div>






</body>
</html>