<!DOCTYPE html>
<html>
<head>
	<title>HODOPHILE | CNF Confirmed , IRCTC Details</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">

<style>

body{
	text-align: justify;
}
	.head_txt{
	font-size:2em !important;
	font-weight:bold;
	
}

.sub_txt{
	font-size: 1.2em;
	font-weight: normal;
}

</style>

</head>
<body>


<div ><font class="head_txt">CNF </font><font class="sub_txt">(CONFIRM)</font>
			<br><br>
			
			Passenger Name Record - PNRis a record in the database of a computer reservation system (CRS) that consists of the personal information for a passenger and also contains the itinerary for the passenger.

			CNF(Confirmed) - PNR(Passenger Name Record) status is assigned when the ticket was in RAC(Reservation Against Cancellation) and has been moved to confirmed status but the seat number has not been given.

			The seat number will be allocated after charting. Charting is usually done 4 hours before departure of train.

		</div>

</body>
</html>