<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<!-- <link rel="stylesheet" href="../static/css/index.css"> -->

</head>
<body>

<nav>HODOPHILE</nav>

<br><br>

<div class="row">
	<div class="col s1 m2"></div>

	<div class="col s10 m8">




  <div class="">
    <form class="">
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>


      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>

     

   
    </form>
  </div>
    
	</div>
	<div class="col s1 m2"></div>
</div>





 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<script>
	
	  $(document).ready(function() {
    M.updateTextFields();
  });
       
</script>
</body>
</html>