<!DOCTYPE html>
<html>
<head>
	<title>Hodophile | Live Status </title>
	<meta name="description" content="IRCTC , Indian Railway , Train , Running Status , Delay , Live Stauts">
	
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<link rel="stylesheet" href="../static/css/simple-grid.min.css">
	<link rel="stylesheet" href="../static/css/livestatus.css">
</head>
<body>

	<nav>
	<div class="logo">Hodophile</div>

	<div class="list">
		<div>Trains</div>
		<div>Flights</div>
		<div>Bus</div>
		<div>Recharge</div>
		<div>Login</div>
	</div>
</nav>

<br><br><br>


<div class="heading">
	<div class="row">
		<div class="col-12 center">Live Status</div>
	</div>

	<div class="row center">
		<div class="col-12">12345 &nbsp;  &nbsp;   Lorem Ipsum Dolor Sit Amet</div>
	</div>
	<div class="row">
		<div class="col-12 center">Delayed By: 2h 35 min</div>
	</div>
</div>
<br><br>


<div class="map">


	<div class="map_cont">
		<div class="st_name">Lorem Ipsum Station </div>
		<div class="sch_arr_dept">
			Sch. Arr. 50:00<br>Sch. Dept. 05:00
		</div>
		<div class="cl">
			<div class="circle"></div>
			<div class="line"></div>
		</div>
		<div class="act_arr_dept">
			Actual Arr. 17:09 (<font class="early"> +5min</font>)<br>
			Actual Dept. 09:17 (<font class="late" > -4 min </font>)
		</div>
	</div>


	<div class="map_cont">
		<div class="st_name">Lorem Ipsum Station </div>
		<div class="sch_arr_dept">
			Sch. Arr. 50:00<br>Sch. Dept. 05:00
		</div>
		<div class="cl">
			<div class="circle"></div>
			<div class="line"></div>
		</div>
		<div class="act_arr_dept">
			Actual Arr. 17:09 (<font class="early"> +5min</font>)<br>
			Actual Dept. 09:17 (<font class="late" > -4 min </font>)
		</div>
	</div>



	<div class="map_cont">
		<div class="st_name">Lorem Ipsum Station </div>
		<div class="sch_arr_dept">
			Sch. Arr. 50:00<br>Sch. Dept. 05:00
		</div>
		<div class="cl">
			<div class="circle"></div>
			<div class="line"></div>
		</div>
		<div class="act_arr_dept">
			Actual Arr. 17:09 (<font class="early"> +5min</font>)<br>
			Actual Dept. 09:17 (<font class="late" > -4 min </font>)
		</div>
	</div>

	


</div>






</body>
</html>