<!DOCTYPE html>
<html>
<head>
	<title>Login | Hodophile</title>

	<link rel="stylesheet" href="../static/css/login.css">
		<meta name="viewport" content="width=device-width,initial-scale=1.0">


</head>
<body>


<nav>
	<div class="logo">Hodophile</div>
</nav>



<div class="login_box">
	<div class="login_txt">Login</div><br><br>
	<div class="create_txt">Don't have an account? <a href="/get-sign">Create Now</a> </div>

	<br><br>

	<form action="/submit-login-form" method="POST">
		<input type="text" name="email" placeholder="ENTER YOUR EMAIL"><br><br>
		<input type="password" name="passwd" placeholder="ENTER YOUR PASSWORD"><br><br>
		<button class="login_btn" type="submit">LOGIN</button>
	</form>

</div>


</body>
</html>