<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link href="https://fonts.googleapis.com/css?family=Yesteryear" rel="stylesheet">
	<link rel="stylesheet" href="../static/css/simple-grid.min.css">
	 	<link rel="stylesheet" href="../static/css/main.css">
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
</head>

<body>

<nav>
	<div class="row">
		<div class="col-6">HODOPHILE</div>
		
		<div class="col-1">Trains</div>
		<div class="col-1">Flights</div>
		<div class="col-1">Bus</div>
		<div class="col-1">Recharge</div>
		<div class="col-1">Login</div>
	</div>



</nav>

<div class="bg_main">
<div class="row">
	<div class="col-12 center">
		HOdoPhile<br>Book NOw . Pay Later
	</div>

</div>

<!--  -->
<div class="row input_box">
	
	<div class="input_box_cont">
		<div class="col-2"><button>More</button></div>
		<div class="col-4"><input type="text" placeholder="From"></div>
		<div class="col-4"><input type="text" placholder="To"></div>
		<div class="col-2"><button>Search</button></div>
	</div>
	
</div>

</div>



<!--  -->


<div class="offers">
<div class="row ">
	<div class="col-12 center">Offers</div>
</div>

<div class="row center">
	<div class="col-4">Offer 1</div>
	<div class="col-4">Offer 2</div>
	<div class="col-4">Offer 3</div>
</div>

</div>

<!--  -->
<div class="row">
	<div class="col-12">


<div class="row">
	<div class="col-12 center">How it Works?</div>
</div>

<div class="row">
	<div class="col-12 center">
		Step 1
	</div>
</div>

<div class="row">
	<div class="col-12 center">
		Step 2
	</div>
</div>

<div class="row">
	<div class="col-12 center">
		Step 3
	</div>
</div>







</body>
</html>