<!DOCTYPE html>
<html>
<head>
	<title>Hodophile | Indian Railway Details</title>
	<meta name="description" content="IRCTC enquiry and details , PNR Status , Ticket Prices and Fare , Cancellation Details , Refund Details ,Reservation  Quota , help">
	
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<link rel="stylesheet" href="../static/css/page.css">
</head>
<body>

	<nav>
	<div class="logo">Hodophile</div>

	<div class="list">
		<div>Trains</div>
		<div>Flights</div>
		<div>Bus</div>
		<div>Recharge</div>
		<div>Login</div>
	</div>
</nav>

<br><br><br><br>


<div class="container">
	<div class="pnr_head">PNR Details</div>
	<ul>
		<li><b>CNF:</b> {..about CNF..}</li>
		<li><b>RAC</b></li>
		<li><b>WL</b></li>	

	</ul>
</div>

</body>
</html>