<!DOCTYPE html>
<html>
<head>
	<title>Hodophile | Cheapest  Train Tickets , Flights , Hotels  </title>
	<meta name="description" content="Cheapest Train Tickets , Flights , Hotels ,Buses , recharge, Amazing Offers , Discount">
	<link href="https://fonts.googleapis.com/css?family=Yesteryear|PT+Sans+Narrow" rel="stylesheet">
	<meta name="og:title" property="og:title" content="Amazing Offers on Train Tickets , Flights, Buses , Hotels ">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">

	
	<link rel="stylesheet" href="../static/css/simple-grid.min.css">
	<link rel="stylesheet" href="../static/css/pnr.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<nav>
	<div class="logo">Hodophile</div>

	<div class="list">
		<div>Trains</div>
		<div>Flights</div>
		<div>Bus</div>
		<div>Recharge</div>
		<div>Login</div>
	</div>
</nav>


<div class="pnr_status_box container">
	<div class="pnr_cont">	
		<div class="row">
			<div class="col-5">Departure Date: Fri , 15 March 2019  </div>
			<div class="col-4"></div>
			<div class="col-3" style="text-align: right;">Duration: 5 hrs</div>
		</div>

		<div class="st_names">
			Ghaziabad <br>
			<div class="st_c">GZB</div>

			<div class="st_2">
				Kanpur Central <br>
				<div class="st_c">CNB</div>
			</div>

			<!-- <div class="other_det">
				<div class="pnr_no">243325435235<br><span class="pnr_txt">PNR NUMBER</span></div>
				
				<div class="class">3A<br><span class="class_txt">CLASS</span></div>

				<div class="quota">PQ<br><span class="quota_txt">Quota</span></div>
			</div> -->

			<div class="row other_det center">
				<div class="col-6">711279232342381<br><span>PNR NUMBER</span></div>
				<div class="col-3">3A<br><span>CLASS</span></div>
				<div class="col-3">PQ<br><span>QUOTA</span></div>
			</div>

			<div class="pax_list">
				<div class="pax_txt">Passengers</div><br>
				<div class="pax_det">Rajat Yadav , 20 , Male <span class="status">CNF S6/54/UB</span></div>
			</div>


		</div>

	
	

	</div>
</div>






</body>
</html>