<!DOCTYPE html>
<html>
<head>
	<title>Hodophile|Cheapest  Train Tickets , Flights , Hotels  </title>
	<meta name="description" content="Cheapest Train Tickets , Flights , Hotels ,Buses , recharge, Amazing Offers , Discount">
	<link href="https://fonts.googleapis.com/css?family=Yesteryear|PT+Sans+Narrow" rel="stylesheet">
	<meta name="og:title" property="og:title" content="Amazing Offers on Train Tickets , Flights, Buses , Hotels ">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">

	<link rel="stylesheet" href="../static/css/simple-grid.min.css">
	<link rel="stylesheet" href="../static/css/profilepage.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<!-- <nav>

	<div class="list">
		<div>Trains</div>
		<div>Flights</div>
		<div>Bus</div>
		<div>Recharge</div>
		<div>Login</div>
	</div>
</nav> -->


<div class="side_nav">
	<div class="logo">Hodophile</div>
	
</div>


<div class="your_trips_box">
	<div class="container">
		<div class="row">
			<div class="col-10 h" >Your Trips</div>
			<div class="col-2"><button class="book_now_btn">Book Now</button></div>
		</div>
		<br>

		<div class="row">
			<div class="col-1">Show:</div>
			<div class="col-4"><input type="radio" name="show" checked>All 
				&nbsp;<input type="radio" name="show">Paid  
				&nbsp;<input type="radio" name="show">Pending
			</div>
		</div>
		<br>
	<!-- Trip Box 1 -->	
		<div class="row trip_box center">	
 				<div class="col-2">Friday , 2 Jul 2019</div>
				<div class="col-1" style="font-size:1.1em;font-weight: bold;">07:00</div>
				<div class="col-2">GZB  &nbsp;  to &nbsp;   CNB</div>
				<div class="col-4">Lorem Ipsum Dolor Sit Amet</div>
				<div class="col-2 payment_status">Paid</div>
				<div class="col-1"><i class="fa fa-caret-down expand_btn"></i></div>
		</div>	

		<div class="pass_info_box hide">
			<div class="pass_info">
				Passenger 1 : Rajat Yadav
			</div>
		</div>
	<!-- Trip box ends -->






	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script>

$(".expand_btn").click(function(){
	$(".pass_info_box").toggleClass("show");
	$(".expand_btn").toggleClass("expand_btn_180");
});


</script>



</body>
</html>