<!DOCTYPE html>
<html>
<head>
	<title>Login | Hodophile</title>

	<link rel="stylesheet" href="../static/css/sign.css">
		<meta name="viewport" content="width=device-width,initial-scale=1.0">


</head>
<body>


<nav>
	<div class="logo">Hodophile</div>
</nav>



<div class="login_box">
	<div class="login_txt">Create New Account</div><br><br>
	<div class="create_txt">Already Have an Account? <a href="#">Login</a> </div>

	<br><br>

<!-- 
aadhar
username
email
contact number
gender
age
password
 -->

	<form>
		<input type="text" name="" placeholder="USERNAME"><br><br>
		<input type="email" name="" placeholder="EMAIL ADDRESS"><br><br>
		<input type=""><br><br>
		<input type="password" name="" placeholder="PASSWORD"><br><br><br>
		<button class="login_btn">LOGIN</button>
	</form>

</div>




</body>
</html>