<!DOCTYPE html>
<html>
<head>
	<title>Login | Hodophile</title>

	<link rel="stylesheet" href="../static/css/sign.css">
		<meta name="viewport" content="width=device-width,initial-scale=1.0">


</head>
<body>


<nav>
	<div class="logo">Hodophile</div>
</nav>



<div class="login_box">
	<div class="login_txt">Create New Account</div><br><br>
	<div class="create_txt">Already Have an Account? <a href="/get-login">Login</a> </div>
	<br><br>
	<form action="submit-signup-form" method="POST">
		<input type="text" name="" placeholder="ENTER YOUR NAME"><br><br>
		<input type="email" name="" placeholder="ENTER EMAIL ADDRESS"><br><br>
		<input type="number" size="12" maxlength="12" name="aadhar" placeholder="ENTER AADHAR NUMBER"><br><br>
		<input type="password" name="" placeholder="PASSWORD"><br><br><br>
		<button class="login_btn" type="submit">SUBMIT</button>
	</form>

</div>




</body>
</html>