<!DOCTYPE html>
<html>
<head>
	<title>Hodophile|Cheapest  Train Tickets , Flights , Hotels  </title>
	<meta name="description" content="Cheapest Train Tickets , Flights , Hotels ,Buses , recharge, Amazing Offers , Discount">
	<link href="https://fonts.googleapis.com/css?family=Yesteryear|PT+Sans+Narrow" rel="stylesheet">
	<meta name="og:title" property="og:title" content="Amazing Offers on Train Tickets , Flights, Buses , Hotels ">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	
	<link rel="stylesheet" href="../static/css/simple-grid.min.css">
	<link rel="stylesheet" href="../static/css/traindetails.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>

 <nav>
	<div class="list">
		<div>Trains</div>
		<div>Flights</div>
		<div>Bus</div>
		<div>Recharge</div>
		<div>Login</div>
	</div>
</nav> 


<div class="side_nav">
	<div class="logo">Hodophile</div>
	<ul class="train_det_ul">
		<li><input type="text" placeholder="Search"><button class="search_btn">Search</button></li>
		<li>PNR Status</li>
		<li>Tatkal Ticket Booking</li>
		<li>Ticket Booking</li>
		<li>Cancel/Refund</li>
	</ul>
</div>

<div class="train_det_cont_box ">
	<div class="row">

		<div class="col-12">PNR Status > CNF</div> 
		
		<br><br><br>
		
		<div class="col-8"><font class="head_txt">CNF </font><font class="sub_txt">(CONFIRM)</font>
			<br><br>

			<div class="train_det_cont">	
				Passenger Name Record - PNR is a record in the database of a computer reservation system (CRS) that consists of the personal information for a passenger and also contains the itinerary for the passenger.

				CNF(Confirmed) - PNR(Passenger Name Record) status is assigned when the ticket was in RAC(Reservation Against Cancellation) and has been moved to confirmed status but the seat number has not been given.

				The seat number will be allocated after charting. Charting is usually done 4 hours before departure of train.
			</div>
		</div>



		<div class="col-4" style="background-color: pink;">ADS</div>
	</div>
</div>








</body>
</html>