<!DOCTYPE html>
<html>
<head>
	<title>Hodophile | Cheapest Indian Railway Tickets Booking </title>
	<meta name="description" content="IRCTC Booking , cheapest , train from station to station ,IRCTC enquiry and details , PNR Status , Ticket Prices and Fare , Cancellation Details , Refund Details ,Reservation  Quota , help">
	
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<link rel="stylesheet" href="../static/css/simple-grid.min.css">
	<link rel="stylesheet" href="../static/css/trainresults.css">
</head>
<body>

	<nav>
	<div class="logo">Hodophile</div>

	<div class="list">
		<div>{{nav_value[0][0]}}</div>
		<div>{{nav_value[1][0]}}</div>
		<div>{{nav_value[2][0]}}</div>
		<div>{{nav_value[3][0]}}</div>
		<div> <a href="{{nav_value[4][1]}}" style="text-decoration: none;color: white;">{{nav_value[4][0]}}</a></div>
	</div>
</nav>

<br><br>


<div class="search_box_wrap">
	<div class="search_box">
		<form action="/search-between-trains" method="POST">
			<input type="text" placeholder="From" name="stfrom">
			<span class="swap">&#8644;</span>
			<input type="text" placeholder="To"  name="stto">
			<input type="date" name="date">
			<button class="search_btn">SEARCH</button>
		</form>
	</div>
</div>

<!-- Search Box ends -->


<div class="container">
	<div class="search_results">
		<div class=container">
			<br>
			<div class="row">
				<div class="col-12 date_day">Friday , 6 May</div>
			</div>
		</div>	

	<br><br>
	{% for t in data["trains"] %}
		<div class="train_box" style="margin-top: 15px;">
			<div class="det"><span id="train_route_btn">{{t["number"]}}</span> <div class="t_name">{{t["name"]}}</div></div>
			<div class="time_wrap">
				<div class="circle"></div>
				<div class="time">{{t["src_departure_time"]}}</div>
				<div class="stations">{{t["from_station"]["name"]}}</div>	
				<div class="duration">{{t["travel_time"]}}</div>
				 <hr>  
				<div class="circle"></div>
				<div class="time">{{t["dest_arrival_time"]}}</div>
				<div class="stations">{{t["to_station"]["name"]}}</div>					
			</div>


			<div class="avl_classes">
				<button>EC</button>
				<button>1A</button>
				<button>2A</button>
				<button>3A</button>
				<button>CC</button>
				<button>SL</button>
				<button>2S</button>
			</div>
		</div>
		{% endfor %}
	</div>
</div>













<!-- Train Route Modal  -->

<div id="train_route_modal" class="modal">
  <div class="modal_cont">
    <span class="close">&times;</span>
    <p>Lorem Ipsum Dolor Sit Amet</p>
  </div>

</div>

<!-- Train Route Modal Ends -->


<script>
	
	var modal=document.getElementById("train_route_modal");
	var btn=document.getElementById("train_route_btn");

	var close_btn=document.getElementsByClassName("close")[0];


	btn.onclick=function(){
		modal.style.display="block";
	}

	close_btn.onclick=function(){
		modal.style.display="none";
	}


	window.onclick=function(event){
		if(event.target==modal){
			modal.style.display="none";
		}
	}

</script>

</body>
</html>